body {
    font-family: Arial;
    color: #383838;
}

#container {
    max-width: 984px;
}

#header {
    background-image: url(assets/background-image.jpg);
    padding-top: 48px;
}

.header-icon {
    border-radius: 142px;
    height: 142px;
}

.header-header {
    font-size: 36px;
    color: #383838;
}

#title {
    background: #ffffff;
}

.title-header {
    font-size: 36px;
    padding-top: 30px;
    padding-left: 100px;
}

#about {
    background: #ffffff;
    float: left;
    padding-left: 100px;
}

.about-header {
    font-size: 21px;
    color: #383838;
    padding-top: 30px;
    padding-bottom: 18px;
}

.about-text {
    font-size: 15px;
    color: #757575;
}

#right-block {
    background: #ffffff;
    float: right;
    padding-right: 100px;
}

.right-block-header {
    font-size: 21px;
    color: #383838;
    padding-top: 30px;
    padding-bottom: 18px;
}

.contact {
    padding-bottom: 50px;
}

.contact-photo {
    float: left;
    margin: 4px 10px 2px 0px;
    border-radius: 48px;
    height: 48px;
}

.contact-name {
    font-size: 15px;
    color: #383838;
    vertical-align: 5px;
}

.contact-link {
    font-size: 15px;
    color: deepskyblue;
}

.follow-us-icon {
    height: 24px;
}

.follow-us-link {
    font-size: 15px;
    color: deepskyblue;
    padding-left: 5px;
    vertical-align: 5px;
}

#clear {
    clear:both;
}

#area-of-focus {
    background: #ffffff;
    padding-left: 100px;
}

.area-of-focus-header {
    font-size: 21px;
    color: #383838;
    padding-bottom: 18px;
}
